@font-face {
	font-family: 'Degheest';
	src:
		url('assets/fonts/degheest/basalte.woff') format('woff'),
		url('assets/fonts/degheest/basalte.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Next';
	src:
		url('assets/fonts/atkinson/standard.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Atkinson Next';
	src:
		url('assets/fonts/atkinson/italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}