body {
    background-color: #000 !important;
}

section {
    border-top: solid 4px #ffd900 !important;
    background-color: #000 !important;
    color: #ffd900 !important;
    fill: #ffd900 !important;
    font-family: 'Atkinson Next', sans-serif !important;
    font-size: larger;
}

svg {
    fill: #ffd900 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffd900 !important;
    font-family: 'Atkinson Next', sans-serif !important;
    font-weight: 900 !important;

    border-bottom: solid 2px #ffd900 !important;
}

kbd {
    color: #ffd900 !important;
    border-color: #ffd900 !important;
}

a {
    color: #ffd900 !important;
    text-decoration-style: dotted !important;
    text-decoration-color: #ffd900 !important;
    text-decoration-thickness: 2px !important;
}

div.safetybar {
    background-color: #000 !important;
    color: #ffd900 !important;
    padding: 12px !important;
}

header {
    background-color: #000 !important;
    color: #ffd900 !important;
    padding: 16px !important;
    border-bottom: solid 4px #ffd900 !important;
}

ul.breadcrumb {
    background-color: #000 !important;
    color: #ffd900 !important;
    font-family: 'Atkinson Next', sans-serif !important;
}

ul.breadcrumb li a {
  font-family: 'Atkinson Next', sans-serif !important;
    border-color: #ffd900 !important;
}

ul.breadcrumb li+li:before {
    color: #ffd900 !important;
}

/* #region HOMEPAGE */
div.signpost {
    background-color: #000 !important;
    padding-bottom: 32px;
}

div.signpost > nav > ul > li > a > div.icon {
    background-color: #313131 !important;
}
/* #endregion */
/* #region HOW-TO INDEX */
nav.page-howto > ul > li > a {
    background-color: #000 !important;
    border-left: dotted 2px #ffd900 !important;
    border-right: dotted 2px #ffd900 !important;
    border-top: dotted 2px #ffd900 !important;
}

nav.page-howto {
    padding-bottom: 32px;
}

/* nav.page-howto > ul > li > a:before {
    content: "CLICK";
    font-family: 'Atkinson Next', Courier, monospace;
    font-size: 1rem;
    color: #ffd900 ;
} */

nav.page-howto > ul > li > a > span {
    color: #ffd900 !important;
}
/* #endregion */

/* #region CALLOUTS */
div.callout {
    background-color: #000 !important;
    color: #ffd900 !important;
    border: 3px solid #ffd900 !important;
}

div.callout p {
    color: #ffd900 !important;
    font-family: 'Atkinson Next', sans-serif !important;
    font-size: 1.1rem !important;    
}

div.callout.red {
    background-color: #000 !important;
    color: #ffd900 !important;
    border: 3px solid #ff3232 !important;
}

div.callout.red svg {
    fill: #ff3232 !important;
}
/* #endregion */

/* #region ARTICLE ELEMENTS */
a.cta {
    background-color: #000 !important;
    border-top: 2px dotted #ffd900 !important;
    border-left: 2px dotted #ffd900 !important;
    border-right: 2px dotted #ffd900 !important;
}

cite {
    background-color: #000 !important;
    border: 2px solid #ffd900 !important;
    color: #ffd900 !important;
    margin: 6px;
}
/* #endregion */