@import url("fonts.css");
@import url("highcontrast.css");

:root {
  --yellow: #ffc15e;
  --red: #b33951;
  --blue: #2274a5;
  --offwhite: #fff;
  --pink: #f26699;
}

html {
  background-color: var(--offwhite);
}

body {
  margin: 0;
}

*:focus {
  border: 3px dotted #ffd900 !important;
}

/* #region ESCAPE BUTTON */
a#leave {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 96px;
  height: 96px;
  display: block;

  z-index: 999;
}

a#leave p {
  position: absolute;
  right: 6px;
  bottom: 0px;

  z-index: 1000;

  color: #fff;
  font-family: "Atkinson Next", sans-serif;
  text-align: right;
  font-size: 12px;

  white-space: nowrap;
}

a#leave svg {
  width: 96px;
  height: 96px;

  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 999;
}

div.safetybar {
  background-color: #782121;
  color: #fff;
  font-family: "Atkinson Next", sans-serif;
  font-size: 14px;
  padding: 5px;
}

div.safetybar p {
  margin: 0;
  padding: 0;
}

div.safetybar p a {
  color: #fff;
  text-decoration-style: dotted;
  text-decoration-color: #ffffffa2;
}
/* #endregion */

header {
  background-color: #fff;
  color: var(--blue);
  height: min-content;
  padding: 16px;
}

header h1 {
  margin: 0;
  font-family: "Degheest", sans-serif;
}

header svg.logo {
  width: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  fill: var(--yellow);
}

section.block {
  padding: 16px;
  font-family: "Atkinson Next", sans-serif;
  color: var(--blue);
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

section.block h2 {
  font-family: "Degheest", sans-serif;
  font-weight: 600;
  font-size: 2em;
  margin: 0;
}
section.block p {
  font-size: 1em;
  margin-top: 8px;
  padding-left: 12px;
}

h1.main {
  font-family: "Degheest", sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  margin: 0;
  color: var(--blue);
  text-align: center;
}

a.cta {
  display: block;
  background-color: var(--pink);
  color: #fff;
  font-family: "Atkinson Next", sans-serif;
  text-decoration: none;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: solid 8px #d1497b;
  border-width: 8px;
  transition: 0.35s;
  width: fit-content;
  margin-bottom: 12px;

}

a.cta:hover {
  border-width: 0px;
  transform: translateY(8px);
  margin-bottom: 20px;
  background-color: #d1497b;
}

a.cta::after {
  content: " \279C";
  font-weight: 400;
}

a.cta.file {
  background-color: #20d66c;
  color: #fff;
  border-bottom: solid 8px #0ab451;
}

a.cta.file:hover {
  border-width: 0px;
  transform: translateY(8px);
  margin-bottom: 20px;
  background-color: #0ab451;
}

a.cta.file::after {
  content: " \2B73";
  font-weight: 400;
}

h3, h4, h5, h6 {
  font-family: "Degheest", sans-serif;
  font-weight: 600;
  color: var(--blue);
}

/* #region BREADCRUMBS */

ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: var(--yellow);

  font-family: 'Atkinson Next', sans-serif;

  margin: 0;
}

ul.breadcrumb li:first-child a {
  font-family: 'Degheest', sans-serif;
  color: var(--offwhite);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: var(--offwhite);
  content: "\1F782\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: var(--offwhite);
  text-decoration: none;
  border-bottom: 0px solid var(--offwhite);
  transition: 0.35s;
}

ul.breadcrumb li a svg {
  fill: var(--offwhite);
  width: 20px;
  height: 20px;
  transform: translateY(3px);
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: var(--offwhite);
  border-bottom: 4px solid var(--offwhite);
}

/* #endregion */

/* #region ARTICLE HEADER */

section.articleheader {
  background-color: color-mix(in srgb, var(--article-head-primary) 40%, #fff 60%);

  display: flex;
  padding-left: 10dvw;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  gap: 8px;

  margin: 0;

  padding-top: 48px;
  padding-bottom: 48px;
}

section.articleheader svg {
  width: 64px;
  height: auto;
  margin: 0;

  fill: var(--article-head-primary);
}

section.articleheader h1 {
  font-family: 'Degheest', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  margin: 0;

  color: var(--article-head-primary);
}

/* #endregion */

svg.inline {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

span.shortcuts {
  font-family: 'Atkinson Next', sans-serif;
  font-size: 0.7em;
  margin-left: 16px;
  color: var(--blue);
}

span.shortcuts kbd {
  border: 1px solid var(--red);
  color: var(--red);
  padding: 2px 3px;
  border-radius: 3px;
}

kbd.key {
  border: 1px solid var(--red);
  color: var(--red);
  padding: 2px 3px;
  border-radius: 3px;
}

cite {
  background-color: rgb(194, 194, 194);
  padding: 2px 4px;
  font-family: 'Atkinson Next', sans-serif;
  font-style: italic;
  font-size: 0.8em;

  color: white;
}

cite a {
  text-decoration-style: dotted;
  border-bottom: 0px solid white;
  color: white;

  transition: 0.25s;

  box-sizing: content-box;
}

cite a:hover {
  text-decoration-color: rgb(194, 194, 194);
  color: white;
  border-bottom: 4px solid white;
}

/* #region CALLOUTS */
div.callout {
  background-color: color-mix(in srgb, var(--yellow) 40%, #fff 60%);
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

div.callout svg {
  width: 24px;
  height: 24px;
  fill: var(--yellow);
  vertical-align: middle;
}

div.callout p {
  color: black;
}

div.callout.red {
  background-color: color-mix(in srgb, var(--red) 40%, #fff 60%);
}

div.callout.red svg {
  fill: var(--red);
}
/* #endregion */